* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #000;
  text-align: center;
  line-height: 50px;
  z-index: 10;
  border-bottom: 1px solid #222;
}

.reels-container {
  position: absolute;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

video {
  width: 100%;
  height: calc(100vh - 50px);
  object-fit: cover;
  scroll-snap-align: start;
  background: black;
}
